<div id="role_access">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                角色权限
                <small>角色管理</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">角色管理</a></li>
                <li class="active">角色权限</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body table-responsive no-padding">
                            <form action="/role/setaccess" id="form_post" method="post">
                                <input v-model="roleId" type="hidden" name="role_id">
                                <div v-for="menu in moduleList" class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{ menu.Title }}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div v-for="child in menu.Children" class="col-md-2">
                                            <div class="checkbox">
                                                <label class="text-ellipsis" v-bind:title="child.Title">
                                                    <input type="checkbox" v-bind:value="child.ModuleId" name="item" v-bind:checked="accessList[child.ModuleId] ? true:false ">{{ child.Title}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button v-on:click="submitForm" class="btn btn-primary" type="button">确认更新角色权限</button>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
</div>
<script>
    var vueRoleAccess = new Vue({
        el: '#role_access',
        data: {
            roleId:<<<.RoleId>>>,
            moduleList: <<<.ModuleData>>>,
            accessList: <<<.AccessData>>>,
            currentRole:{}
        },
        methods:{
            submitForm:function(){
                var query = $("#form_post").serialize();
                var url = $("#form_post").attr("action");
                ajaxDev(url,query,'');
            }
        }
    });
</script>
</body>
</html>